Repository UniRegensburg/unsere-app-fur-die-universitat-regensburg-bib-buddy, pull requests merged in 2021-03, with the labels that each got.

#86 Search and sort search results (see Issues #12 #14)
  BibBuddy/app/src/main/java/de/bibbuddy/Author.java
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorDao.java
  BibBuddy/app/src/main/java/de/bibbuddy/Book.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookDao.java
  BibBuddy/app/src/main/java/de/bibbuddy/DateConverter.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteDao.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFilterCriteria.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchItemType.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchSortCriteria.java
  BibBuddy/app/src/main/java/de/bibbuddy/Shelf.java
  BibBuddy/app/src/main/java/de/bibbuddy/ShelfDao.java
  BibBuddy/app/src/main/res/color/btn_selector.xml
  BibBuddy/app/src/main/res/color/search_selector.xml
  BibBuddy/app/src/main/res/drawable/arrow_drop_down.xml
  BibBuddy/app/src/main/res/drawable/arrow_drop_up.xml
  BibBuddy/app/src/main/res/layout/fragment_search.xml
  BibBuddy/app/src/main/res/layout/list_view_item_library.xml
  BibBuddy/app/src/main/res/layout/list_view_item_search.xml
  BibBuddy/app/src/main/res/layout/search_bar.xml
  BibBuddy/app/src/main/res/menu/fragment_search_menu.xml
  BibBuddy/app/src/main/res/values/strings.xml
Labels: Search Technology

#105 Library Export (BibTex)
  BibBuddy/app/src/main/java/de/bibbuddy/BookDao.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/ExportBibTex.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryModel.java
  BibBuddy/app/src/main/res/menu/fragment_library_menu.xml
  BibBuddy/app/src/main/res/values/strings.xml
Labels: Import/Export and Sharing

#108 Create filter for search results (see Issue #88)
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFilterCriteria.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchModel.java
  BibBuddy/app/src/main/res/values/strings.xml
Labels: Search Technology

#113 Sort all shelf book note views (see Issue #107)
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorFormFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookDao.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFormFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesView.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesViewModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryAddShelfFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryRenameShelfFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteAudioItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteImageItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteTextItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NotesFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchItemType.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/ShelfDao.java
  BibBuddy/app/src/main/java/de/bibbuddy/ShelfItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/SortCriteria.java
  BibBuddy/app/src/main/java/de/bibbuddy/SortDate.java
  BibBuddy/app/src/main/java/de/bibbuddy/SortDialog.java
  BibBuddy/app/src/main/java/de/bibbuddy/SortName.java
  BibBuddy/app/src/main/java/de/bibbuddy/SortableItem.java
  BibBuddy/app/src/main/res/color/search_selector.xml
  BibBuddy/app/src/main/res/layout/fragment_search.xml
  BibBuddy/app/src/main/res/layout/search_bar.xml
  BibBuddy/app/src/main/res/menu/fragment_book_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_book_note_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_library_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_note_list_menu.xml
Labels: Library, Search Technology

#114 Import of BibTeX
  BibBuddy/app/src/main/AndroidManifest.xml
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorDao.java
  BibBuddy/app/src/main/java/de/bibbuddy/BibTexKeys.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/ExportBibTex.java
  BibBuddy/app/src/main/java/de/bibbuddy/ImportBibTex.java
  BibBuddy/app/src/main/java/de/bibbuddy/UriUtils.java
  BibBuddy/app/src/main/java/de/bibbuddy/UriUtilsKeys.java
  BibBuddy/app/src/main/res/menu/fragment_book_menu.xml
  BibBuddy/app/src/main/res/values/strings.xml
Labels: Import/Export and Sharing

#115 Share and Import Buttons in Header
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFormFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesView.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookOnlineFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/HelpFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/HomeFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryRenameShelfFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/MainActivity.java
  BibBuddy/app/src/main/java/de/bibbuddy/NotesFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SettingsFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/TextNoteEditorFragment.java
  BibBuddy/app/src/main/res/drawable/import_icon.png
  BibBuddy/app/src/main/res/drawable/share_icon.png
  BibBuddy/app/src/main/res/layout/header.xml
Labels: Design, Import/Export and Sharing

#121 Bugfix note text without formatting tags
  BibBuddy/app/src/main/java/de/bibbuddy/ExportBibTex.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteDao.java
Labels: Bugfix, Import/Export and Sharing

#110 Extend API
  BibBuddy/app/src/main/java/de/bibbuddy/BookBarcodeScannerFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFormFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookOnlineFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/IsbnRetriever.java
Labels: Data

#120 Design changes for sort and filter (see Issue #100)
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorFormFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFormFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesView.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookOnlineFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/HelpFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/HomeFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/MainActivity.java
  BibBuddy/app/src/main/java/de/bibbuddy/NotesFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/TextNoteEditorFragment.java
  BibBuddy/app/src/main/res/drawable/filter_icon.xml
  BibBuddy/app/src/main/res/drawable/sort_icon.xml
  BibBuddy/app/src/main/res/layout/fragment_search.xml
  BibBuddy/app/src/main/res/layout/header.xml
  BibBuddy/app/src/main/res/menu/fragment_book_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_book_note_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_library_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_note_list_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_search_menu.xml
Labels: App Design, Design, Search Technology

#124 Sharing of Library (BibTeX)
  BibBuddy/app/src/main/AndroidManifest.xml
  BibBuddy/app/src/main/java/de/bibbuddy/ExportBibTex.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryFragment.java
  BibBuddy/app/src/main/res/values/strings.xml
  BibBuddy/app/src/main/res/xml/file_provider_paths.xml
Labels: Import/Export and Sharing

#125 Sharing of Shelf (BibTeX)
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
Labels: Import/Export and Sharing

#126 Sharing of Book note (BibTeX)
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesView.java
Labels: Import/Export and Sharing

#128 Design Rework #1 - App icon & texts
  BibBuddy/app/src/main/AndroidManifest.xml
  BibBuddy/app/src/main/ic_launcher-playstore.png
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesView.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryFragment.java
  BibBuddy/app/src/main/res/drawable/bibbuddy_iconshadow.png
  BibBuddy/app/src/main/res/layout/fragment_author_form.xml
  BibBuddy/app/src/main/res/layout/fragment_book_form.xml
  BibBuddy/app/src/main/res/layout/list_view_item_author.xml
  BibBuddy/app/src/main/res/layout/list_view_item_book.xml
  BibBuddy/app/src/main/res/layout/list_view_item_library.xml
  BibBuddy/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  BibBuddy/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  BibBuddy/app/src/main/res/mipmap-hdpi/ic_launcher.png
  BibBuddy/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  BibBuddy/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  BibBuddy/app/src/main/res/mipmap-mdpi/ic_launcher.png
  BibBuddy/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  BibBuddy/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  BibBuddy/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  BibBuddy/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  BibBuddy/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  BibBuddy/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  BibBuddy/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  BibBuddy/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  BibBuddy/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  BibBuddy/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  BibBuddy/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  BibBuddy/app/src/main/res/values/ic_launcher_background.xml
  BibBuddy/app/src/main/res/values/strings.xml
Labels: App Design, Bugfix, User Guidance

#129 Clean up note features
  BibBuddy/app/src/androidTest/java/de/bibbuddy/NotesFragmentTest.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesView.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesViewModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/DatabaseHelper.java
  BibBuddy/app/src/main/java/de/bibbuddy/Note.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteAudioItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteDao.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteImageItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteTextItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NotesFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SwipeToDeleteCallback.java
  BibBuddy/app/src/main/java/de/bibbuddy/TextNoteEditorFragment.java
  BibBuddy/app/src/main/res/layout/fragment_book_notes.xml
  BibBuddy/app/src/main/res/layout/fragment_notes.xml
  BibBuddy/app/src/main/res/layout/list_view_item_book_note.xml
  BibBuddy/app/src/main/res/menu/add_note_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_note_list_menu.xml
  BibBuddy/app/src/main/res/values/strings.xml
Labels: Bugfix, Data, Design, Multimedia

#134 Bugfix ISBN validation & trimming for API
  BibBuddy/app/src/main/java/de/bibbuddy/BookBarcodeScannerFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookOnlineFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/IsbnRetriever.java
  BibBuddy/app/src/main/res/values/strings.xml
Labels: Bugfix, Data

#135 Design Rework #2 - Colors & Layouts
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorFormFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFormFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesView.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookOnlineFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/HelpFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/HomeFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryRenameShelfFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/MainActivity.java
  BibBuddy/app/src/main/java/de/bibbuddy/NotesFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/RichTextEditor.java
  BibBuddy/app/src/main/java/de/bibbuddy/RichTextEditorQuoteSpan.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SettingsFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SwipeToDeleteCallback.java
  BibBuddy/app/src/main/java/de/bibbuddy/TextNoteEditorFragment.java
  BibBuddy/app/src/main/res/color/btn_selector.xml
  BibBuddy/app/src/main/res/color/editor_toolbar_selector.xml
  BibBuddy/app/src/main/res/color/library_item_selector.xml
  BibBuddy/app/src/main/res/drawable/add.xml
  BibBuddy/app/src/main/res/drawable/arrow_drop_down.xml
  BibBuddy/app/src/main/res/drawable/arrow_drop_up.xml
  BibBuddy/app/src/main/res/drawable/import_icon.png
  BibBuddy/app/src/main/res/drawable/import_icon.xml
  BibBuddy/app/src/main/res/drawable/round_button.xml
  BibBuddy/app/src/main/res/drawable/rounded_corners.xml
  BibBuddy/app/src/main/res/drawable/share_icon.png
  BibBuddy/app/src/main/res/drawable/share_icon.xml
  BibBuddy/app/src/main/res/drawable/sort_icon.xml
  BibBuddy/app/src/main/res/layout/add_button.xml
  BibBuddy/app/src/main/res/layout/confirm_button.xml
  BibBuddy/app/src/main/res/layout/fragment_author.xml
  BibBuddy/app/src/main/res/layout/fragment_author_form.xml
  BibBuddy/app/src/main/res/layout/fragment_book.xml
  BibBuddy/app/src/main/res/layout/fragment_book_form.xml
  BibBuddy/app/src/main/res/layout/fragment_book_notes.xml
  BibBuddy/app/src/main/res/layout/fragment_book_online.xml
  BibBuddy/app/src/main/res/layout/fragment_library.xml
  BibBuddy/app/src/main/res/layout/fragment_library_add_shelf.xml
  BibBuddy/app/src/main/res/layout/fragment_library_delete_shelf.xml
  BibBuddy/app/src/main/res/layout/fragment_library_rename_shelf.xml
  BibBuddy/app/src/main/res/layout/fragment_notes.xml
  BibBuddy/app/src/main/res/layout/fragment_search.xml
  BibBuddy/app/src/main/res/layout/fragment_settings.xml
  BibBuddy/app/src/main/res/layout/fragment_text_note_editor.xml
  BibBuddy/app/src/main/res/layout/header.xml
  BibBuddy/app/src/main/res/layout/list_view_item_author.xml
  BibBuddy/app/src/main/res/layout/list_view_item_book.xml
  BibBuddy/app/src/main/res/layout/list_view_item_library.xml
  BibBuddy/app/src/main/res/layout/list_view_item_note.xml
  BibBuddy/app/src/main/res/layout/list_view_item_search.xml
  BibBuddy/app/src/main/res/layout/search_bar.xml
  BibBuddy/app/src/main/res/values/colors.xml
  BibBuddy/app/src/main/res/values/strings.xml
  BibBuddy/app/src/main/res/values/themes.xml
Labels: App Design, User Guidance

#136 Bug fix back button
  BibBuddy/app/src/main/java/de/bibbuddy/BookBarcodeScannerFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookDao.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesView.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookOnlineFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/HelpFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/HomeFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryAddShelfFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryRenameShelfFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/NotesFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/TextNoteEditorFragment.java
  BibBuddy/app/src/main/res/layout/fragment_text_note_editor.xml
Labels: Bug

#137 Bug fix empty search
  BibBuddy/app/src/main/java/de/bibbuddy/MainActivity.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFragment.java
Labels: Bug, Search Technology

#139 Design Rework #3 - Functional Design
  BibBuddy/app/src/main/AndroidManifest.xml
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorFormFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/AuthorRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookBarcodeScannerFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFormFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesView.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookOnlineFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/BookRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/HomeFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/MainActivity.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/NotesFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SearchFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/TextNoteEditorFragment.java
  BibBuddy/app/src/main/res/layout/activity_main.xml
  BibBuddy/app/src/main/res/layout/fragment_author_form.xml
  BibBuddy/app/src/main/res/layout/fragment_book_form.xml
  BibBuddy/app/src/main/res/layout/fragment_home.xml
  BibBuddy/app/src/main/res/layout/fragment_text_note_editor.xml
  BibBuddy/app/src/main/res/layout/header.xml
  BibBuddy/app/src/main/res/menu/fragment_author_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_book_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_book_note_menu.xml
  BibBuddy/app/src/main/res/menu/fragment_library_menu.xml
Labels: App Design, User Guidance

#144 Create new voice editor
  BibBuddy/app/build.gradle
  BibBuddy/app/src/main/AndroidManifest.xml
  BibBuddy/app/src/main/java/de/bibbuddy/BookNotesView.java
  BibBuddy/app/src/main/java/de/bibbuddy/LibraryKeys.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteAudioItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteDao.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteModel.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteRecyclerViewAdapter.java
  BibBuddy/app/src/main/java/de/bibbuddy/NoteTextItem.java
  BibBuddy/app/src/main/java/de/bibbuddy/NotesFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/SeekBarListener.java
  BibBuddy/app/src/main/java/de/bibbuddy/TextNoteEditorFragment.java
  BibBuddy/app/src/main/java/de/bibbuddy/VoiceNoteEditorFragment.java
  BibBuddy/app/src/main/res/drawable/microphone.png
  BibBuddy/app/src/main/res/drawable/pause.png
  BibBuddy/app/src/main/res/drawable/play.png
  BibBuddy/app/src/main/res/drawable/record_microphone.png
  BibBuddy/app/src/main/res/drawable/record_microphone_selected.png
  BibBuddy/app/src/main/res/drawable/round_button.xml
  BibBuddy/app/src/main/res/drawable/stop.png
  BibBuddy/app/src/main/res/layout/fragment_book_notes.xml
  BibBuddy/app/src/main/res/layout/fragment_notes.xml
  BibBuddy/app/src/main/res/layout/fragment_voice_note_editor.xml
  BibBuddy/app/src/main/res/layout/list_view_item_note.xml
  BibBuddy/app/src/main/res/menu/fragment_voice_note_editor_menu.xml
  BibBuddy/app/src/main/res/values/strings.xml
  BibBuddy/build.gradle
  BibBuddy/gradle/wrapper/gradle-wrapper.properties
Labels: App Design, Bugfix, Multimedia
